@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand','Raleway', sans-serif;
}

.container{
	width: 30%;
	margin: auto;
	margin-top: 60px;
}

.loginform{
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 20px;
	background-image: linear-gradient(to right, rgb(44,48,152) , rgb(62,218,252));
}

.loginform:hover{
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.logoName{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

}

.logoName img{
	width: 100px;
}

.logoName h1{
	font-size: 50px;
}

.login{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	width: 70%;
}

input{
	border-radius: 20px;
	
	padding: 12px;
	font-size: 16px;
	background-color: #f1faee;
	overflow: hidden;
	color: rgb(44,48,152);
}

button{
	border-radius: 20px;
	border: 1px solid grey;
	padding: 10px;
	font-size: 17px;
	width: 50%;
	margin: 0 auto;
}

button:hover{
	color: rgb(44,48,152);
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.link{
	margin: 16px;
}

.link a{
	text-decoration: none;
	font-size: 18px;
}

.link a:hover{
	color: white;
}
